body{
  font-family: 'Montserrat', sans-serif;
}
html{
  scroll-behavior: smooth;
}
#title {
  background-color: #ff4c68;
  color: #fff;
}
#contact{
margin: 0 auto;
width: 10%;
}
.container-fluid{
padding: 3% 15%;
}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}
h2{
  font-family: 'Montserrat-bold',sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size:1.1rem;
}

/* Download Buttons */
.download-btn{
  margin: 5% 3% 5% 0;
  font-size: 1rem;
}

/* Title Image */
.title-img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
}

/* Feature Section */

#features{
  padding: 3% 15%;
background-color: #fff;
  z-index: 1;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  padding: 20px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}
.press-logo{
  width: 10%;
  margin: 10px 10px 40px;
}
.carousel-item{
  padding: 7% 15%;
}

/* Pricing Section */

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-coloumn{
  padding: 3% 2%;
}
@media (max-width: 1128px) {

  #title{
    text-align: center;
  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}

/* Call to Action Section */

#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  text-align: center;
  font-family: 'Montserrat Black',sans-serif;
  color: #fff;
  font-size: 3.5rem;
}

/* Footer Section */

#footer {
  padding: 3% 15%;
  text-align: center;
}
.social-icon{
padding: 3% 2%
}
.cpy{
  font-size: 0.6rem;
}
